<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Dashboard</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    <body>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script>
        // Update the trading chart with new data
        function drawTradingChart(newData) {
                  var tradingChart = document.getElementById('tradingChart');
                  // Plotly.restyle(Bar, 'x', [newdata.x])
                  //  Plotly.restyle(Bar, 'y', [newdata.y])
                  }
        
        function drawPERegressionChart(response) {
                    console.log("drawing fundamnetals chart");
                  //var plot = document.getElementById('fundamentalsChart');
                  var data = [{"x": response.pe,
                                "y": response.return,
                                "type": "scatter"
                            }];

                    var layout = {
                                     title: "Fundamentals PE vs Returns",
                                     xaxis: {
                                                title: "PE"
                                            },
                                    yaxis: {
                                                    title: "Returns"
                                            }
                                };
                Plotly.newPlot("fundamentalsChart", data, layout);
                }
        
        function drawFundamentals(ticker) {
                  
                  var analysisTable = document.getElementById('analysisTable');
                  //get data
                  route="/api/fundamentals?ticker="+ticker;
                  Plotly.d3.json(route, function(error, response) {
                          if (error) return console.warn(error);
                          console.log(response);
                          drawPERegressionChart(response);
        
                         });
                      }
              
        // Get new data whenever the dropdown selection changes and draw the dashboard
        function drawDashboard(ticker) {
                  console.log(ticker);
                  drawTradingChart(ticker);
                  drawFundamentals(ticker);
                  }
        </script>
                    
    
        <select id="selStock" onchange="drawDashboard(this.value)">
                <option value="A">A</option>
                <option value="AAPL">AAPL</option>
                <option value="AMD">AMD</option>
                <option value="ARQL">ARQL</option>
                <option value="AU">AU</option>
                <option value="BHP">BHP</option>
                <option value="BLIN">BLIN</option>
                <option value="BOSC">BOSC</option>
                <option value="BP">BP</option>
                <option value="CVX">CVX</option>
        </select>
    
        
        <div id="tradingChart"></div>
        <div id="fundamentalsChart"></div>
        <div id="analysisTable"></div>
        
    </body>

</html>
